body {
  background: rgb(102, 168, 168);
} 
  .bordered {
    width: 700px;
    height: 75px;
    padding: 20px;
    border: 5px solid yellowgreen;
  }
   .fishbordered {
    width: 400px;
    height: 250px;
    border: 2px solid yellowgreen;
    
  }
  .center {
  display: block;
  margin-left:300px;
  margin-right: 50px;
  width: 50%;
  }
.buttonformat{
  margin-left:300px;  

}
td {

  border: 1px solid #0088dd;
  padding: 15px; }
  table.one {
    empty-cells: show;}



  }
  






